extends layout 
 
block content 
  h1= title 
 
  form(id='LunchBoxForm', action="/resource/LunchBox", method="POST",class="styling") 
    div(class='styling').form-group
      img(src='/images/a.jpg' alt="lunchbox"  width="100px" height="80px")

    div.form-group 
        label.LunchBoxAttr(for='LunchBox_name') LunchBox Name
        input#LunchBox_name(type='text', name='LunchBox_name') 
    div.form-group 
        label.LunchBoxAttr(for='LunchBox_price') LunchBox price 
        input#LunchBox_price(type='number', name='LunchBox_price') 
    div.form-group 
        label.LunchBoxAttr(for='LunchBox_size') LunchBox size
        input#LunchBox_size(type='text', name='LunchBox_size') 
    input(type="submit") 
 
  script. 
    document.forms['LunchBoxForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    });