extends layout

block content
  h1= title
  if (toShow == null) 
    h2 No instance to update 
  else
   - let LunchBoxid = toShow._id 
   - let LunchBox_name = toShow.LunchBox_name
   - let LunchBox_price = toShow.LunchBox_price
   - let LunchBox_size = toShow.LunchBox_size
   - let actionid = "/resource/LunchBox/" + LunchBoxid
   div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{LunchBoxid} 
   form(id='LunchBoxForm', action=actionid, method="PUT")
    div.form-group
      label.LunchBoxAttr(for='LunchBox_name') LunchBox name 
      input#LunchBox_name(type='text', name='LunchBox_name', value= LunchBox_name ) 
    div.form-group 
      label.LunchBoxAttr(for='LunchBox_price') LunchBox price 
      input#LunchBox_price(type='number', name='LunchBox_price', value= LunchBox_price ) 
    div.form-group 
      label.LunchBoxAttr(for='LunchBox_size') LunchBox size
      input#LunchBox_size(type='text', name='LunchBox_size', value= LunchBox_size ) 
    input(type="submit")
   script.
    document.forms['LunchBoxForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
       method: 'PUT',
       body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
       return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
       alert("Update succeded")
       // TODO handle body
      }).catch((error) => {
       // TODO handle error
       alert("Save failed " + error )
      });
     });