body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.LunchBoxAttr {
  background-color: lightblue;
  width: 150px;
 }

.styling {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  flex-wrap: wrap;
  background-color: rgb(111, 212, 165);
  border-radius: 20%;
}
 